$red-color: #ff003e;
$white-color: #ffffff;
$grey: #6f6f6f;
$white-grey: #c8c8c8;
$first: #a99ed6;
$second: #66ccff;
$third: #50b5cc;
$fourth: #e4a7d5;
$fifth: #28dfe8;
$sixth: #a2d6bf;
$seventh: #ecc8c5;
$eighth: #b4cfff;
$nineth: #c6e7a3;
$yellow: #f0ef84;
$facebook: #3333f0;
$green: #04cf5f;
$slider-bottom: #f5f5f5;
$footer-bg: #c6c6c5;